<li class="cell {{ post.categories | join ' ' }} 
{% unless page.uniform == true %}
{% cycle "wide", "tall", "default", "default", "wide tall", "wide", "wide", "tall", "default" %}
{% endunless %}" title="{{ post.categories | last }}" id="{{post.id | slugify}}">
	
 	<div class="text">
		<h4 class="typeset" 
		{% if post.fonts %} style="font-family:{{ post.fonts | first }}, Oswald, monospace;" {% endif %}>
		<a href="{{ post.url }}">
		{% if post.heading %}{{ post.heading }} {% else %} {{ post.title }}{% endif %}</a></h4>
 		<blockquote class="landmark">
 		{% if post.pitch %}{{ post.pitch | markdownify | strip_html}} 
 		{% else %} 
 		{{ post.excerpt}} {% endif %}
 		</blockquote>
 	</div>

</li>